*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase;
}
/*BARRA EM CIMA*/
.topbar {
    text-transform: uppercase;
    font-size: small;
    background-color: rgb(236, 207, 169);
    width: 100%;
    height: 20px;

}
.topbar p{
    position: absolute;
    right: 0;
}
.topbar img{
    height: 10px;
}
.topbar .tbmsg{
    left: 0;
    margin-left: 20px;
}
.topbar .tbtel{
    right: +22%;
}
.topbar .tbemail{
    margin-right: 20px;
}

/*HEADER*/
header{
    display: flex;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    height: 12vh;
    text-transform: uppercase;
    z-index: 10;
    box-shadow: 1px 1px 10px #0000003f;
}
header a{
    text-decoration: none;
    color: #454545;
}
header h1{
    color: rgb(133, 126, 34);
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 20px;
    position: absolute;
    top: 10%;
    cursor: pointer;
    padding: 10px;
}
header ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    top: 25%;
    margin-right: 20px;
}
header li{
    color: #454545;
    text-shadow: 5px 2px 10px rgb(175, 150, 118);
    margin-right: 40px;
    padding: 10px;
}
header li:hover{
    cursor: pointer;
    color: rgb(133, 126, 34);
    opacity: 0.6;
    transition: 0.5s;
}
.nreserve{
    background-color: bisque;
    color: #757575;
    font-weight: 550;
}
.nreserve:hover{
    opacity: 1;
    box-shadow: 2px 2px 5px rgb(151, 150, 150);

}

/*section home*/
.home{
    background-image: url(./images/backgroundhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    text-transform: uppercase;
    box-shadow: 10px 50px 150px rgba(0, 0, 0, 0.384);
}
.home h1{
    color: #fcf9f9;
    text-shadow: 2px 2px 5px #535353c0;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    height: 160px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home p{
    color: #fafafa;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*section sobre*/
.sobre  {
    height: 100vh;
    width: 100%;
    margin-top: 80px;
    padding: 20px 50px;
}
.sobre h1, h2{
    text-transform: uppercase;
}
.sobre h1{
    font-size: 50px;
}
.sobre h2{
    margin-bottom: 40px;
}
.sobre p{
    line-height: 40px;
    margin: 10px;
}
.sobre div{
    display: inline-block;
    height: 100%;
}
.sobre .container{
    width: 55vw;
    float: left;
}
.sobre .certf{
    float: right;
    text-align: center;
    margin-left: 40px;
    width: 400px;
    border: double 20px rgba(197, 148, 92, 0.767);
}
.sobre .certf p{
    
    line-height: 20px;
    font-size: 15px ;
}

/*section pousadas*/
.pousadas{
    height: 100vh;
    color: #8a8a8a;
    padding: 40px;
    background-color: #ece8d5;
}
.pousadas h1, h2{
    text-transform: uppercase;
    margin-left: 20px;
}
.selection-title{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.selection-title h1{
    font-size: 50px;
}
.selection-title h2{
    font-size: 20px;
    font-weight: 500;
}
.selection-title p{
    position: absolute;
    top: 50%;
    right: 5%;
}
.pousada{
    background-color: #fcfcfc;
    padding: 30px;
    overflow: hidden;
    width: 400px;
    display: inline-block;
    text-align: center;
    height: 400px;
    margin: 0 10px;
    border: double 10px;
    border-color: #dfdfdf;
    border-radius: 4px;
}
.pousadas p{
    background-color: bisque;
    font-weight: 550;
    cursor: pointer;
    padding: 5px;
}
.pousadas p:hover{
    box-shadow: 2px 2px 5px #0000001f;
    transition: 0.5s;

}
.pousada img{
    height: 200px;
    border: double 4px;
    border-radius: 2px;
}
.pousada h2{
    font-size: 15px;
    font-weight: 500;
}
.pousada h1{
    margin-bottom: 20px;
}
.pousada:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 2px 1px 30px #00000042;
    transition: 0.5s;
}

/*section reserve*/
.reserve{
    background-image: url(./images/backgroundhome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 40px 0;
    color:#ebebeb;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.reserve h1{
    text-align: left;
    margin-left: 80px;
    font-size: 50px;
    text-shadow: 1px 1px 5px #383838bb;
}
.reserve h3{
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}
.reserve form{
    display: inline-block;
    background-image: linear-gradient(72deg, #f0ded6d8 1%, rgb(197, 197, 197) 99%);
    box-shadow: 2px 5px 2px ;
    text-align: left;
    padding: 20px 30px;
    width: 1200px;
}
.reserve input{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 0;
}
.reserve select{
    font-size: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.reserve .end{
    width: 33%;
}
.reserve textarea{
    width: 100%;
}
input[type="submit"]{
    background-color: bisque;
    border: solid 1px #363636;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: #b98b54e7;
    transition: 0.5s;
}

/*section galeria*/
.galeria{
    height: 100vh;
    color: #8a8a8a;
    text-transform: uppercase;
    position: relative;
}
.galeria h1{
    margin-top: 40px;
    font-size: 50px;
    margin-left: 80px;
}
.galeria h2{
    margin-left: 80px;
    font-size: 15px;
    font-weight: 500;
}
.galeria h3{
    background-color: bisque;
    font-size: 12px;
    position: absolute;
    top: 80px;
    right: 90px;
    padding: 5px;
}
.galeria h3:hover{
    cursor: pointer;

    box-shadow: 2px 1px 10px #00000042;
    transition: 0.5s;
}
.rowgaleria{
    margin-top: 40px;
    position: relative;
    text-align: center;
}
.galeria-col{
    display: inline-block;
    margin: 0 60px;
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden
}
.galeria img{
    height: 400px;
    width: 300px;
}
.galeria .slide{
    display: flex;
}
.galeria input{
   display: none;
}
.nav{
    position: absolute;
    right: 0;
}
.bar{
    margin: 20px;
    height: 20px;
    width: 40px;
    border: double 7px  white;
}
.bar:hover{
    cursor: pointer;
    opacity: 0.5;
}
#slide1c1:checked ~ .s1c1{
    margin-top: 0;
    transition: 1.5s;
}
 #slide2c1:checked ~ .s1c1{
    margin-top: -400px;
    transition: 1.5s;
}
#slide3c1:checked ~ .s1c1{
    margin-top: -800px;
    transition: 1.5s;
}
 #slide4c1:checked ~ .s1c1{
    margin-top: -1200px;
    transition: 1.5s;
}
#slide1c2:checked ~ .s1c2{
    margin-top: 0;
    transition: 1.5s;
}
 #slide2c2:checked ~ .s1c2{
    margin-top: -400px;
    transition: 1.5s;
}
#slide3c2:checked ~ .s1c2{
    margin-top: -800px;
    transition: 1.5s;
}
 #slide4c2:checked ~ .s1c2{
    margin-top: -1200px;
    transition: 1.5s;
}
#slide1c3:checked ~ .s1c3{
    margin-top: 0;
    transition: 1.5s;
}
 #slide2c3:checked ~ .s1c3{
    margin-top: -400px;
    transition: 1.5s;
}
#slide3c3:checked ~ .s1c3{
    margin-top: -800px;
    transition: 1.5s;
}
 #slide4c3:checked ~ .s1c3{
    margin-top: -1200px;
    transition: 1.5s;
}

/*section article*/
article{
    height: 100vh;
    background-color: #e4e2e2;
    color:#8a8a8a;
    position: relative;
    padding: 20px;
}
article h1{
    font-size: 60px ;
    font-weight: 550;
    margin-left: 20px;
}

.row-article{
    height:70%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);

}
.testimonial{
    background-color: white;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 30%;
    margin: 0 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 2px 2px 50px rgb(253, 253, 253);
}
.testimonial img{
    height: 130px;
    border-radius: 50%;
}
.testimonial h1, h2{
    font-size: 20px;
}

/*section contato*/
.contato{
    height: 100%;
    background-color: rgba(207, 159, 101, 0.486);
    color:#8a8a8a;
    padding:20px;
    display: flex;
    justify-content: center;
}
.contato h1{
    font-size: 50px;
}
.contato h2{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.contato img{
    max-width: 30px;
    opacity: 0.5;
    margin-right: 10px;
}
.contato ul{
    list-style: none;

}
.contato li{
    margin-top: 20px;
}
.col-contact1{
    text-align: left;
    width: 500px;
    padding: 20px;

}
.col-contact2{
    text-align: left;
    width: 600px;
    padding: 20px;
}
.contato input, textarea{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 60px;
}


/*section footer*/
footer{
    display: flex;
    height: 100%;
    background-color: #e4e2e2;
    color:#8a8a8a;
    position: relative;
    padding: 20px;
}
footer div{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: auto;
    text-align: left;
}
footer h1{
    font-size: 25px;
    margin-bottom: 20px;
}
footer ul{
    list-style: none;
}
footer li{
    margin-bottom: 10px;
    font-size: 15px;
}
.fnoticias li{
    text-transform: capitalize;
}
.fnoticias li:hover{
    cursor: pointer;
    opacity: 0.8;

}
footer i img{
    height: 15px;
}
.frsociais{
    width: 250px;
}
.frsociais li{
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    box-shadow: 2px 5px 10px white;
}
.rs1{
    background-color: #3333bebb;
}
.rs2{
    background-color: #ff00d4bb;
}
.rs3{
    background-color: #397effbb;
}
.rs4{
    background-color: #ff0000bb;
}
.frsociais li:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 2px 5px 10px #00000049;
    transition: 0.5s;
}